
extends layout

block content
  h1 Links
  h4 Handy Software
  a(href="https://help.github.com/articles/set-up-git") Getting started with Git
  br
  a(href="http://nodejs.org/download/") Getting Node.JS installed
  br
  a(href="https://npmjs.org/package/express") NPM and installing Express
  br
  a(href="http://getbootstrap.com/css/") Bootstrap CSS
