
extends layout

block content
    h1 Login
    h4 Try hitting /index or any of the links above
    h4 Then try logging in as ryan // password
    #container.col-sm-5
        // I love the way forms look in Jade. Saves so much room
        form(method="POST" action="/login" role="form" class="form-horizontal")
            div.form-group
                label Username:
                input(type="text" class="form-control" name="username" placeholder="Username")
            div.form-group
                label Password:
                input(type="password" class="form-control" name="password" placeholder="Password")
            input(type="submit" class="btn btn-success" value="Login")
