#container.navbar.navbar-default.navbar-fixed-top
  #container.container
    #container.navbar-header
      a(href="/index" class="navbar-brand").
        Model U.N.
    ul.nav.navbar-nav
      li
        a(href="/about") About
      li
        a(href="/links") Links
    ul.nav.navbar-nav.navbar-right
      li
        a(href="/logout") Logout
