#container.navbar.navbar-default.navbar-fixed-top
  #container.container
    #container.navbar-header
      a(href="#" class="navbar-brand") Brand
    ul.nav.navbar-nav
      li
        a(href="#") A link
      li
        a(href="#") Another
    ul.nav.navbar-nav.navbar-right
      li
        a(href="/logout") Logout
